.register{
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-title{
    color: black;
    font-size: 3em;
    margin: 0;
}
.register-b{
    display: inline-block;
    border: 2px solid #082775; 
    color: #000000; 
    text-decoration: none;
    background-color: transparent;
    padding: 10px 10px;
    transition: background-color 0.3s;
    margin-left: 0 auto;
    width: 8em;
    margin-top: .2em;
    text-align: center;
    font-size: 1em;
}
.register-b:hover{
    background-color: #314579;
    cursor: pointer;
    color: white;
}
.returning-user{
    color: #000000;
    text-decoration: underline;
    cursor: pointer;
}